

@function center($lenght) {
  $value: calc(50% - $lenght);
  @return ($value);
}




#submitConnexionButton{
  margin-top: $moderate-space-px;
}

.log-container{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  position: absolute;
  width: clamp(400px, 80vw, 700px) ;
  height: clamp(350px, 50vw, 400px);
  top: clamp(center(200px), center(25vw), center(175px));
  left: clamp(center(350px), calc(center(40vw)), center((200px)));
  text-align: center;
}
.log-list{
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  li{
    padding: $moderate-space-px;
    border-radius: $big-space-px;
  }
  .active-btn{
    color: white;
    background-color: #FD2D01
  }
}


form{
  margin: auto;
  label{
    margin: $tiny-space-px;
  }
  input{
    width: clamp(100px, 40%, 300px);
    margin: $tiny-space-px;
  }
}

