// VARIABLES
$xtiny-space-px : 1px;
$tiny-space-px : 2px;
$small-space-px : 5px;
$moderate-space-px : 10px;
$large-space-px : 20px;
$big-space-px : 50px;
$huge-space-px: 100px;

$xtiny-space-vw : 1vw;
$tiny-space-vw : 2vw;
$small-space-vw : 5vw;
$moderate-space-vw : 10vw;
$large-space-vw : 20vw;
$big-space-vw : 50vw;
$huge-space-vw: 100vw;

$primary-color : #FD2D01;
$secondary-color : #FFD7D7;
$tertiary-color : #4E5166;

// FUNCTIONS
@function center($lenght) {
  $value: calc(50% - $lenght);
  @return ($value);
}
@function goldenRatio($lenght) {
  $goldenNumber: calc($lenght * 1.618);
  @return ($goldenNumber);
}

// FONTS
@font-face {
  font-family: "lato";
  src: url(../assets/fonts/Lato-Regular.ttf)
}

// SKELETON
html{
  background-color: white;
  background: url("../assets/background/office.webp");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: top;
  font-family: lato;
  margin: 0;
  padding: 0;
  body{
    margin: 0;
    padding: 0;
    main{
      min-height: 100vh;
    }
  }
}


// SIZE
.limit-height{ height: 100%;}
.limit-width{ width: 100%;}
.w50{width: 50%;}
.w40{ width: 40%; }
.w30{ width: 30%; }
.w100{ width: 100%;}
.h100{ height: 100%;}
.h50{ height: 50%;}
.min-width{ width: min-content;}
.min-height{ height: min-content !important;}
.width-max{ width: max-content;}

// DISPLAY
.flex{ display: flex !important; }
.row{ flex-direction: row !important; }
.column{ flex-direction: column !important; }
.inline-flex{ display: inline-flex !important;}
.margin{ margin: auto !important; }
.absolute{ position: absolute !important; }
.margin-left-auto{ margin-left : auto !important; }
.margin-left-null{ margin-left: 0 !important;}

// TEXTE
h1{font-size: 1.2rem;}
h3{margin: 0}
.txt-left{ text-align: left; }
.txt-right{ text-align: right; }
.center{ text-align:  center; }
.justify{ text-align: justify;}
.italic{ font-style: italic;}
.bold{ font-weight:  bold;}
.underline{ text-decoration: underline;}

// UTILS
.tiny-x-margin{ margin-left: $tiny-space-px;  margin-right: $tiny-space-px;}
.moderate-x-space{ width: $moderate-space-px;}

// REFORM
p { text-justify: auto;}
ul{ padding: 0; }
li{ list-style: none; }
textarea{ resize: none;}
input[type=file]{opacity: 0;}
button, input[type=submit]{
  border-radius: 25px;
  width: 90px;
  height: 45px;
  color: white;
  margin: 1px;
}
button[class=cancel]{
  background-color: $tertiary-color;
}
button[class=send], input[type=submit]{
  background-color: $primary-color;
}

